<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite name="ConsoleBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
