#coresphere_consolebundle_console {
	position: relative;
	padding: 0.2em;
	background: rgba(50,50,50,1);
	color: rgba(240,240,240,1);
	font-family: monospace;
}

#coresphere_consolebundle_console .working_dir {
	margin: 0;
	padding: 0.2em;
	background: rgba(5,5,5,1);
}

#coresphere_consolebundle_log_container {
	height: 400px;
	overflow: auto;
}

#coresphere_consolebundle_log_container::-webkit-scrollbar{height:12px;width:12px;}
#coresphere_consolebundle_log_container::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color: transparent;border-bottom-left-radius:6px 6px;border-bottom-right-radius:6px 6px;border-top-left-radius:6px 6px;border-top-right-radius:6px 6px;}
#coresphere_consolebundle_log_container::-webkit-scrollbar-thumb:vertical{height:25px;background-color:rgba(1,1,1,0.3);-webkit-border-radius:6px;}
#coresphere_consolebundle_log_container::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:rgba(1,1,1,0.3);-webkit-border-radius:6px;}

#coresphere_consolebundle_log {
	padding: 0 0.8em;
}

#coresphere_consolebundle_log li {
	padding: 0.5em 0;
}

#coresphere_consolebundle_log .error {
	color: rgba(255, 160, 160, 1);
}

#coresphere_consolebundle_log code {
	background: rgba(1,1,1,0.3);
	padding: 3px;
}

#coresphere_consolebundle_prompt {
	width: 100%;
	clear: both;
	background: rgba(240,240,240, 1);
	color: rgba(30, 30, 30,1);

}

#coresphere_consolebundle_input {
	background: transparent;
	border: none;
	font-family: inherit;
	color: inherit;
	outline: none;
	width: 80%;
}